<div class="product-card">
  <div class="image-container" [class.selected]="cartItem()">
    
    <picture>
      <source media="(min-width: 1024px)" [srcset]="product.image.desktop">
      <source media="(min-width: 640px)" [srcset]="product.image.tablet">
      <img [src]="product.image.mobile" [alt]="product.name" class="product-image">
    </picture>

    @if (!cartItem()) {
      <button class="add-to-cart-btn" (click)="onAddToCart()">
        <img src="/assets/images/icon-add-to-cart.svg" alt="">
        Add to Cart
      </button>
    } @else {
      <div class="quantity-selector">
        <button class="qty-btn" (click)="onDecrement()"> <img src="/assets/images/icon-decrement-quantity.svg" alt="minus">
        </button>
        <span>{{ cartItem()?.quantity }}</span>
        <button class="qty-btn" (click)="onAddToCart()">
          <img src="/assets/images/icon-increment-quantity.svg" alt="plus">
        </button>
      </div>
    }
  </div>

  <div class="product-info">
    <span class="category">{{ product.category }}</span>
    <h3 class="name">{{ product.name }}</h3>
    <p class="price">{{ product.price | currency }}</p>
  </div>
</div>