<div class="search-wrapper">
  <input type="text" [formControl]="searchControl" placeholder="Search a dessert..." class="search-input">
</div>

@if (error$ | async; as errorMessage) {
<div class="error-banner">
  <img src="assets/images/icon-error.png" alt="Error Image">
  <p>{{ errorMessage }}</p>
</div>
}

<div class="product-grid">
  @for (item of (products$ | async); track item.name) {
  <app-product-item [product]="item"></app-product-item>
  } @empty {
  @if (!(error$ | async)) {
  <p>No desserts match your search.</p>
  }
  }
</div>