.main-container {
  padding: 24px var(--spacing-200); 
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr; 
  gap: var(--spacing-400);    

  @media (min-width: 1024px) {
    grid-template-columns: 2.5fr 1fr; 
    padding: 40px var(--spacing-1100);     
    gap: var(--spacing-400);
    align-items: start;               
  }
}

.page-title {
  font-size: 2rem; 
  margin-top: 0;
  font-weight: 700;
  margin-bottom: var(--spacing-400);
  color: var(--color-rose-900);
}